$RED: #d33f49;
$YELLOW: #e3a827;
$OFFBLACK: #262730;
$EGGSHELL: #edeec7; //#eff0d1;
$ORCHID: #d69cc4;
$LIGHTBLUE: #9cc4d6;
$PURPLE: #a488e1;

$TEAL: #88e1a4;
$LIGHTGREEN: #c4d69c;
$THISTLE: #d7c0d0;
$BLUEGREY: #57737a;
