//BASE COLOR THEME
$BLACK: #0b0c10;
$DARKGREY: #1f2833;
$GREY: #a19d9b;
$LIGHTGREY: #c5c6c7;
$TEAL: #66fcf1;
$DARKTEAL: #45a29e;

//ACCENTS and HIGHLIGHTS
$ORANGE: #fc8966;
$PURPLE: #a666fc;
$PINK: #fc66bc;
$BLUE: #66bcfc;
$YELLOW: #fcd466;
$GREEN: #2eff31;