.header {
  height: 100px;
  background-color: $BLACK;
  .header__flexbox {
    display: flex;
    align-items: center;
    height: inherit;
  }
  .logo {
    margin: 0px 10px;
    margin: 0px 50px;
    height: 65px;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  .navItem {
    margin: 0px 25px;
    $ICONSIZE: 40px;
    .runnerIcon {
      mask-image: url("../assets/icons/runner.svg");
    }
    .jetIcon {
      mask-image: url("../assets/icons/jet.svg");
    }

    .icon {
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      height: $ICONSIZE;
      width: $ICONSIZE;
      border-radius: 50%;
      background-color: $GREY;
    }
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: inherit;
  }

  a.navLink {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    border-bottom: 8px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
      color: $TEAL;
    }
  }

  a.navLinkActive {
    border-bottom: 8px solid $BLUE;
    .icon {
      background-color: $PINK;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .navItem {
      .icon {
        height: 30px;
        width: 30px;
      }
    }
  }
}
