.hero {
  &__img {
    background: url("../assets/images/Arcade.jpg") center no-repeat;
    background-size: cover;
    height: 80vh; //750px;
    width: 100%;
    position: relative;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
    width: inherit;
  }

  .contentBlock {
    position: absolute;
    top: 10%;
    left: 180px;
    color: white;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 110px;
      margin: 0px;
    }

    h2 {
      margin: 0px;
      font-size: 45px;
      text-align: center;
    }

    button.gamesBtn {
      margin-top: 90px;
      border-radius: 6px;
      border: 1px solid $DARKTEAL;
      width: 160px;
      height: 55px;
      font-size: 18px;
      background-color: $BLACK;
      color: white;

      &:hover {
        border-color: white;
        color: $TEAL;
      }
    }
  }
}

.keyFeatures {
  background-color: $LIGHTGREY;
  padding-top: 100px;
  padding-bottom: 200px;
  height: 80vh;
  .keyFeatures__content {
    margin: 0px 180px;
  }
  &__title {
    font-size: 64px;
    margin: 32px 0px;
    color: $BLACK;
  }

  .cardContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .card {
    background-color: $DARKGREY;
    border: 2px solid $DARKTEAL;
    width: 30%;
    margin: 10px;
    color: white;
    height: 55vh;
    padding: 10px;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      color: $TEAL;
      margin: 5px;
      font-size: 32px;
    }
    h3 {
      margin: 5px;
      text-align: center;
    }

    &__tagLine {
      font-size: 22px;
      padding-bottom: 20px;
      border-bottom: solid 4px $PINK;
    }
  }
  .icon1,
  .icon2,
  .icon3 {
    margin: 15px;
    height: 80px;
    width: 80px;
  }

  .icon3 {
    border-radius: 50%;
  }
}

.gameCard {
  color: white;
  background-color: $DARKGREY;
  position: relative;
  height: 85vh;
  padding-bottom: 25px;
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
    width: inherit;
  }

  .endlessRunnerImg {
    background: url("../assets/images/ER_gameplay.png") center no-repeat;
    background-size: cover;
    height: inherit;
    // width: 100%;
  }

  .spaceShooterImg {
    background: url("../assets/images/SS_gameplay.png") center no-repeat;
    background-size: cover;
    height: inherit;
    // width: 100%;
  }
  .contentBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 180px;
    top: 150px;
    .gameCard__title {
      color: $TEAL;
      font-size: 90px;
      margin: 0px;
    }

    h2 {
      margin: 10px 0px;
      width: 670px;
      text-align: right;
      font-size: 32px;
    }
  }

  .playBtn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid $DARKTEAL;
    width: 160px;
    height: 55px;
    font-size: 18px;
    background-color: $BLACK;
    margin-top: 20px;
    color: white;

    &:hover {
      border-color: white;
      color: $TEAL;
    }
  }

  .highlight {
    color: $ORANGE;
  }
}
