.leaderboard {
  position: absolute;
  bottom: 30px;
  right: 15%;
  width: 450px;
  background-color: $DARKGREY;
  color: white;
  border: 2px solid $DARKTEAL;
  border-radius: 5px;
  .headers {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px $DARKTEAL solid;

    &__ranking,
    &__score,
    &__name {
      margin: 5px 0px;
      color: $PURPLE;
      font-size: 32px;
    }
  }

  .row {
    display: flex;
    .ranking,
    .score,
    .name {
      margin: 14px 0px;
      margin-right: 19.5%;
      font-size: 24px;
    }
    .ranking {
      margin-left: 20%;
      color: white;
    }
    .score {
      color: $YELLOW;
    }
    .name {
      color: $ORANGE;
    }
  }

  .lastUpdated {
    text-align: right;
    margin-right: 10px;
  }

  .lastUpdatedFlex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .refreshBtn {
    mask-image: url("../assets/icons/refresh.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 0px 5px;
    // -ms-transition: 0.5s all;
    // -webkit-transition: 0.5s all;
    // transition: 0.5s all;
    background-color: $GREEN;
    &:hover {
      // transform: rotate(110deg);
      // -ms-transition: 0.5s all;
      // -webkit-transition: 0.5s all;
      // transition: 0.5s all;
      background-color: white;
    }
  }

  .spinning {
    animation: spin 0.25s linear;
  }
}

@media (max-width: 768px) {
  .leaderboard {
    right: 5%;
  }
}

@media (max-width: 480px) {
  .leaderboard {
    right: 1%;
    width: 400px;
  }
}
