.header {
  height: 100px;
  background-color: #0b0c10;
}

.header .header__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header .logo {
  margin: 0px 10px;
  margin: 0px 50px;
  height: 65px;
}

.header .logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.header .navItem {
  margin: 0px 25px;
  width: 120px;
}

.header .navItem .runnerIcon {
  -webkit-mask-image: url("../assets/icons/runner.svg");
          mask-image: url("../assets/icons/runner.svg");
}

.header .navItem .jetIcon {
  -webkit-mask-image: url("../assets/icons/jet.svg");
          mask-image: url("../assets/icons/jet.svg");
}

.header .navItem .icon {
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a19d9b;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: inherit;
}

.header a.navLink {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  border-bottom: 8px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a.navLink:hover {
  color: #66fcf1;
}

.header a.navLinkActive {
  border-bottom: 8px solid #66bcfc;
}

.header a.navLinkActive .icon {
  background-color: #fc66bc;
}

.hero__img {
  background: url("../assets/images/Arcade.jpg") center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  position: relative;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
}

.hero .contentBlock {
  position: absolute;
  top: 10%;
  left: 180px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .contentBlock h1 {
  font-size: 110px;
  margin: 0px;
}

.hero .contentBlock h2 {
  margin: 0px;
  font-size: 45px;
  text-align: center;
}

.hero .contentBlock button.gamesBtn {
  margin-top: 90px;
  border-radius: 6px;
  border: 1px solid #45a29e;
  width: 160px;
  height: 55px;
  font-size: 18px;
  background-color: #0b0c10;
  color: white;
}

.hero .contentBlock button.gamesBtn:hover {
  border-color: white;
  color: #66fcf1;
}

.keyFeatures {
  background-color: #c5c6c7;
  padding-top: 100px;
  padding-bottom: 200px;
  height: 70vh;
}

.keyFeatures .keyFeatures__content {
  margin: 0px 180px;
}

.keyFeatures__title {
  font-size: 64px;
  margin: 32px 0px;
  color: #0b0c10;
}

.keyFeatures .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.keyFeatures .card {
  background-color: #1f2833;
  border: 2px solid #45a29e;
  width: 30%;
  margin: 10px;
  color: white;
  height: 400px;
  padding: 10px;
}

.keyFeatures .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyFeatures .card h2 {
  color: #66fcf1;
  margin: 5px;
  font-size: 32px;
}

.keyFeatures .card h3 {
  margin: 5px;
  text-align: center;
}

.keyFeatures .icon1,
.keyFeatures .icon2,
.keyFeatures .icon3 {
  margin: 15px;
  height: 80px;
  width: 80px;
}

.keyFeatures .icon3 {
  border-radius: 50%;
}

.gameCard {
  color: white;
  background-color: #1f2833;
  position: relative;
  height: 80vh;
}

.gameCard .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: inherit;
  width: inherit;
}

.gameCard .endlessRunnerImg {
  background: url("../assets/images/ER_gameplay.png") center no-repeat;
  background-size: cover;
  height: inherit;
}

.gameCard .contentBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 180px;
  top: 150px;
}

.gameCard .contentBlock .gameCard__title {
  color: #66fcf1;
  font-size: 90px;
  margin: 0px;
}

.gameCard .contentBlock h2 {
  margin: 10px 0px;
  width: 670px;
  text-align: right;
  font-size: 32px;
}

.gameCard .playBtn {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 1px solid #45a29e;
  width: 160px;
  height: 55px;
  font-size: 18px;
  background-color: #0b0c10;
  margin-top: 20px;
  color: white;
}

.gameCard .playBtn:hover {
  border-color: white;
  color: #66fcf1;
}

.gameCard .highlight {
  color: #fc8966;
}

footer {
  background-color: #1f2833;
  width: 100%;
  height: 100px;
  color: white;
}

footer section {
  margin: 0px 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer section h3 {
  margin: 0px;
  padding-top: 10px;
  font-size: 20px;
}

footer section .contactInfo {
  margin-top: 10px;
}

footer section .contactInfo h4 {
  margin: 5px 0px 0px 0px;
  font-size: 12px;
}

.gamePage .hero__img {
  background: url("../assets/images/HighScores.jpg") center no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
}

.gamePage .hero .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
}

.gamePage .hero .contentBlock {
  position: absolute;
  top: 10%;
  left: 180px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gamePage .hero .contentBlock h1 {
  font-size: 110px;
  margin: 0px;
}

.gamePage .hero .contentBlock h2 {
  margin: 0px;
  font-size: 45px;
  text-align: center;
}

.gamePage iframe {
  margin: 0px auto;
  border: none;
  border: 8px solid #45a29e;
}

.gamePage .iframeContent {
  position: relative;
  background-color: #a19d9b;
  padding: 150px 0px;
}

.gamePage .tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  left: 100px;
}

.gamePage .tracking video {
  display: none;
}

.gamePage .tracking #canvas {
  margin: 0px;
}

.gamePage .tracking .canvasbox {
  height: 300px;
  width: 350px;
  background-color: #0b0c10;
}

section.controls {
  margin: 0px 180px;
}

section.controls h1 {
  margin: 0px;
  font-size: 100px;
}
/*# sourceMappingURL=App.css.map */